<?xml version="1.0"?>

<launch>
  <arg name="world" default="duckiepond.world" />

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find duckiepond_gazebo)/worlds/$(arg world)"/>
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Load robot model -->
  <arg name="urdf" default="$(find duckiepond_vehicle)/urdf/duckieboat.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf)"/>

  <!-- Spawn model in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
	args="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0
	      -urdf -param robot_description -model duckieboat_1"/>

</launch>
