<?xml version="1.0"?>

<launch>
  <arg name="world" default="duckiepond.world" />
  <arg name="robot_name_1" default="MONICA" />
  <arg name="robot_name_2" default="BRIAN" />
  <arg name="watchtower_name" default="watchtower" />
  <arg name="robot_id_1a" default="509"/>
  <arg name="robot_id_1b" default="510"/>
  <arg name="robot_id_2a" default="511"/>
  <arg name="robot_id_2b" default="512"/>

  <!-- The switch about sensors and wind -->
  <arg name="p3d" default="false"/> 

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find duckiepond_gazebo)/worlds/$(arg world)"/>
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Load robot model -->
  <arg name="urdf" default="$(find duckiepond_vehicle)/urdf/duckieboat.xacro"/>
  <param name="robot_description_1" command="$(find xacro)/xacro --inorder $(arg urdf) robot_name:=$(arg robot_name_1) robot_id:=$(arg robot_id_1a) robot_id2:=$(arg robot_id_1b)" />
  <param name="robot_description_2" command="$(find xacro)/xacro --inorder $(arg urdf) robot_name:=$(arg robot_name_2) robot_id:=$(arg robot_id_2a) robot_id2:=$(arg robot_id_2b)" />
  

  <!-- Spawn model in Gazebo -->
  <node name="spawn_model_1" pkg="gazebo_ros" type="spawn_model"
	args="-x 5 -y 7.5 -z 0.1 -R 0 -P 0 -Y 0
	      -urdf -param robot_description_1 -model monica"/>

  <node name="spawn_model_2" pkg="gazebo_ros" type="spawn_model"
	args="-x 5 -y 12.5 -z 0.1 -R 0 -P 0 -Y 0
	      -urdf -param robot_description_2 -model brian"/>

</launch>
