<?xml version="1.0"?>
<model>
  <name>docking</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ni-Ching Lin</name>
    <email>niching.ece05g@g2.nctu.edu.tw</email>
  </author>

  <description>
    A modular piece for creating floating docks.
    See http://www.jetdock.com/products/conventional-floating-walkway.asp
  </description>
</model>
