<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="duckieboat">
    <!-- Defines the base vehicle -->
    <xacro:include filename="$(find duckiepond_vehicle)/urdf/duckieboat_base.xacro"/>

    <!-- Attach p3d odometry plugin -->
    <xacro:include filename="$(find duckiepond_vehicle)/urdf/usv_gazebo_p3d_plugin.xacro" />
    <xacro:usv_p3d name="p3d" robot_name="$(arg robot_name)"/>

    <!-- Attach hydrodynamics plugin -->
    <xacro:include filename="$(find duckiepond_vehicle)/urdf/usv_gazebo_dynamics_plugin.xacro"/>
    <xacro:usv_dynamics_gazebo name="dynamics" robot_name="$(arg robot_name)"/>

    <!-- Attach thrust plugin -->
    <xacro:include filename="$(find duckiepond_vehicle)/urdf/usv_gazebo_thrust_plugin.xacro"/>
    <xacro:usv_thrust_gazebo name="thrust" robot_name="$(arg robot_name)"/>

    <!-- Attach camera plugin -->
    <xacro:include filename="$(find duckiepond_vehicle)/urdf/usv_gazebo_camera_plugin.xacro"/>
    <xacro:usv_camera name="camera" robot_name="$(arg robot_name)" camera_z="$(arg camera_z)" camera_pitch="$(arg camera_pitch)"/>

</robot>
